<div id="<%= dom_id pacient %>">
  <p>
    <strong>Height:</strong>
    <%= pacient.height %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= pacient.weight %>
  </p>

  <p>
    <strong>Blood:</strong>
    <%= pacient.blood %>
  </p>

  <p>
    <strong>Diseases:</strong>
    <%= pacient.diseases %>
  </p>

  <p>
    <strong>Zone:</strong>
    <%= pacient.zone %>
  </p>

  <p>
    <strong>Church:</strong>
    <%= pacient.church %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= pacient.postal_code %>
  </p>

</div>
